<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><i class="fa fa-home fa-lg" title="Blog"></i><label> Blog </label></a></li>
  <li><a href="{{ root_url }}/blog/archives"><i class="fa fa-calendar fa-lg" title="Archives"></i><label> Archives </label></a></li>
  <li><a href="/pages/projects"><i class="fa fa-github fa-lg" title="Projects"></i><label> Projects </label></a></li>
  <li><a href="/pages/about"><i class="fa fa-user fa-lg" title="About"></i><label> About </label></a></li>
  <li><a href="/pages/contact"><i class="fa fa-envelope-o fa-lg" title="Contact"></i><label> Contact </label></a></li>
  <li><a href="/atom.xml"><i class="fa fa-rss fa-lg" title="RSS"></i><label> RSS </label></a></li>
</ul>
<ul style="float: right;">
  <li><a rel="license" href="/pages/terms"> <img alt="Creative Commons License" style="border-width:0; margin-bottom:-7px; height:30px; width:84px;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /> </a></li>
</ul>
